<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app='app'>
<div ng-controller='PostCtrl' class='container'>
    <h1>Recent Posts</h1>
    <form role='form'>
        <div class='form-group'>
            <div class='input-group'>
                <input ng-model='postBody' class='form-control'/>
                <span class='input-group-btn'>
                    <button ng-click='addPost()' class='btn btn-default'>Add Post</button>
                </span>
            </div>
        </div>
    </form>
    <ul class='list-group'>
        <li ng-repeat='post in posts' class='list-group-item'>
            <strong>@{{ post.username }}</strong>
            <span>{{ post.body }}</span>
        </li>
    </ul>
</div>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>
<script>
    //app module 을 생성한다
    var app = angular.module('app', [])

    //PostCtrl module 생성
    //$scope 의존성 주입
    app.controller('PostCtrl', function ($scope) {

        //'Add Post 버튼을 클릭할 때 수행할 함수
        $scope.addPost = function () {
            //내용이 있을때만 글을 추가함
            if ($scope.postBody) {
                //새로운 글을 $scope.posts에 추가한다.

            }
            $scope.posts.unshift({
                username: 'dickeyxxx',
                body: $scope.postBody //사용자가 입력한 내용을 사용한다
            })
            //입력필드를 지운다.
            $scope.postBody = null
        }

        //데이터 시작 
        $scope.posts = [
            {
                username: 'dickeyxxx',
                body: 'Node rules!'
            },
            {
                username: 'jeffdickey',
                body: 'trying out angular.js...'
            }
        ]

    })
</script>
</body>
</html>